<div class="row">
<div class="col-xs-4 col-md-offset-4">
 <% @every_post.each do |p| %>
   <div style="background-color: #ffffff;width: 400px; border: 10px solid #d3d6db; padding: 10px; word-break: break-all;">
   <h3><%= p.subj %></h3><br>
   <p><%= p.cont %></p>
   <p>글자수 : <%= p.cont.length %></p>
   <p>공백을 뺀 글자수 : <%= p.cont.length - p.cont.count(' ') %></p>
   <p>단어수 : <%= p.cont.split(" ").length %></p>
   <p style="font-size: 90%; text-align: right;"> <a href="/destroy/<%= p.id %>">[삭제]</a></p>
    
    <% p.comments.each do |comment| %>
    <%= comment.id %>
    <%= comment.content %><br>
    <% end %>
    <form action="/write_comment/<%= p.id %>" method="post">
    <input name="real" type="text" class="form-control" placeholder="댓글">
    <button type="submit" class="btn btn-default">댓글</button>
    </form>
 </div>
 <% end %>
 <a href="/">글쓰러가기</a>

</div>
</div>